#cover {
  text-align: center;
  background-image: url("./assets/images/bg-1.jpg");
  background-size: cover;
  height: 100vh;
}
.slogan-wrapper {
  height: calc(100% - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.slogan {
  color: #f5f5f5;
  font-family: "BaiJamjuree-Light", Arial, Helvetica, sans-serif;
  font-size: 80px;
  padding: 50px;
  box-shadow: 3px 6px 19px 16px rgb(0 0 0 / 30%);
  backdrop-filter: brightness(0.8) blur(5px);
  border: 1px solid #f5f5f5;
  border-radius: 16px;
  animation: fade-in 1s ease-in;
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(1.2);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
#discover {
  background-color: #f5f5f5;
  padding: 40px;
}
.discover-title {
  font-family: "BaiJamjuree-Bold", Arial, Helvetica, sans-serif;
  background-image: url("./assets/images/text-bg.jpg");
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 100px;
  text-align: center;
  background-attachment: fixed;
  background-position: 60px 50px;
  background-size: cover;
  margin: 0 0 200px 0;
}
.discover-info_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  justify-items: center;
}
.discover-info {
  margin-top: -150px;
  position: sticky;
  bottom: 40px;
}
.discover-info1 {
  z-index: 5;
  grid-area: 1 / 1 / 2 / 2;
}
.discover-info2 {
  z-index: 4;
  grid-area: 2 / 2 / 3 / 3;
}
.discover-info3 {
  z-index: 3;
  grid-area: 3 / 3 / 4 / 4;
}
.discover-info4 {
  z-index: 2;
  grid-area: 4 / 4 / 5 / 5;
}
.discover-info_img {
  width: 250px;
  height: 450px;
  object-fit: cover;
}
.discover-info_text {
  font-size: 20px;
  position: absolute;
  width: 250px;
  top: -20px;
  left: 0;
  backdrop-filter: blur(10px);
  padding: 20px;
  background-color: #b0b0b01a;
  border-radius: 0 16px 16px 0;
}
.discover-info_text2 {
  top: auto;
  bottom: -16px;
  background-color: #b8bab72e;
}
.discover-info_text3 {
  background-color: #d7d2d65c;
}
.discover-info_text4 {
  top: auto;
  bottom: -16px;
  background-color: #bfc5b870;
}
@media screen and (max-width: 1200px) {
  .discover-info_wrapper {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
  .discover-info {
    margin-top: 50px;
    bottom: 10px;
  }
  .discover-info2 {
    z-index: 4;
    grid-area: 2 / 1 / 3 / 3;
  }
  .discover-info3 {
    z-index: 3;
    grid-area: 3 / 1 / 4 / 4;
  }
  .discover-info4 {
    z-index: 2;
    grid-area: 4 / 1 / 5 / 5;
  }
}
